@import './reset.css';
@import '../lib/bootstrap/css/bootstrap.min.css';
@import '../lib/bootstrap/css/font-awesome.min.css';
.wrap
{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}
/*以上为公共样式不可修改*/
